body{
    background-color: tomato;
}



img{
width: 300px;
margin: 30px;
transition: 1s;
}



img:hover{
    width: 400px;
    margin: 0px;   
}

h1{
    text-align: center;
}

.kepek{
float: left;
}

h3{
    text-align: center;
}

.cucc{
    display: flex;
    justify-content: center;
    align-items: center;
}






